<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AFPageControl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>AFSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E1E2270D1973A64D00772E46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1E2271F1973A64D00772E46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1E227341973A67300772E46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1E2273E1973A67400772E46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
